---
import Home from '../layouts/Home.astro';
---

<Home title="Welcome to Astro.">
	<!-- <SiteNameHeader /> -->
	<main class="songs">
		<ul class="songsList">
			<!-- {allSongs.map(({ url, frontmatter }) =>
      <SongPreview url={url} name={frontmatter.name} album={frontmatter.album} year={frontmatter.year}
        artist={frontmatter.artist} />
      )} -->
		</ul>
	</main>
	<!-- <Footer /> -->
</Home>

<style>

</style>
