---
import Home from '../layouts/Home.astro';
import SongPreview from '../components/SongPreview.astro';

let allSongs = await Astro.glob('./*/*.mdx');

allSongs = allSongs.sort((older, newer) =>
	new Date(newer.frontmatter.dateModified).valueOf() - new Date(older.frontmatter.dateModified).valueOf()
);
---

<Home>
	<main class="songs">
		<ul class="songsList">
			{allSongs.map(({ url, frontmatter }) =>
			<SongPreview url={url} name={frontmatter.name} album={frontmatter.album} year={frontmatter.year}
				artist={frontmatter.artist} />
			)}
		</ul>
	</main>
</Home>

<style lang="scss">
	.songs {
		grid-area: songs;
		margin-bottom: 48px;
		padding: 0 16px;
		font-family: var(--font-body);

		@media screen and (min-width: 992px) {
			padding: 0;
		}
	}

	.songsList {
		display: grid;
		grid: auto / repeat(auto-fill, minmax(320px, 1fr));
		gap: 16px 24px;
		margin: 0;
		padding: 0;
	}
</style>
