---
export interface Props {
  title: string;
  description: string;
  name?: string;
  permalink?: string;
  artist?: string;
  schemaHome: boolean;
  datePublished: string;
  dateModified: string;
}

const {
  title,
  description,
  name,
  permalink,
  artist,
  schemaHome,
  datePublished,
  dateModified
} = Astro.props;

const ogCoverPath = permalink ? `${permalink}.jpg` : 'home.jpg';
const canonicalPath = permalink ? permalink : '';
const published = new Date(datePublished).toISOString();
const modified = new Date(dateModified).toISOString();

const moreSchema = {
  '@type': 'BreadcrumbList',
  name,
  itemListElement: [
    {
      '@type': 'ListItem',
      position: 1,
      name: artist
    }
  ]
};

const schema = JSON.stringify({
  '@context': 'https://schema.org',
  '@graph': [
    {
      '@type': 'Website',
      name: '看電影、看劇還有廣告時，聽到喜歡的音樂',
      url: import.meta.env.SITE
    },
    {
      '@type': 'WebPage',
      url: `${import.meta.env.SITE}${canonicalPath}`,
      name: title,
      datePublished: published,
      dateModified: modified,
      publisher: {
        '@type': 'Organization',
        name: 'Intersection',
        url: 'https://intersection.tw',
        logo: {
          '@type': 'ImageObject',
          name: 'Intersection: 優化、插件、高清、視頻、反饋、交互設計：已經看膩這些中國網路媒體用語。',
          width: 400,
          height: 400,
          url: 'https://moment.intersection.tw/images/intersection.png'
        }
      }
    },
    ...(schemaHome ? [] : [moreSchema])
  ]
});
---

<meta charset='utf-8' />
<meta name='viewport' content='width=device-width' />
<title>{title}</title>
<meta name='description' content={description} />
<link rel='canonical' href={`${import.meta.env.SITE}${canonicalPath}`} />
<link rel='icon' sizes='any' href='/favicon.ico' />
<link rel='icon' type='image/svg+xml' href='/logo/initial.svg' />
<link rel='apple-touch-icon' href='/logo/large.png' />
<link rel='manifest' href='/manifest.webmanifest' />
<meta property='og:type' content='website' />
<meta
  property='og:site_name'
  content='看電影、看劇還有廣告時，聽到喜歡的音樂'
/>
<meta property='og:url' content={`${import.meta.env.SITE}${canonicalPath}`} />
<meta property='og:title' content={title} />
<meta property='og:description' content={description} />
<meta
  property='og:image'
  content={`${import.meta.env.SITE}og/${ogCoverPath}`}
/>
<meta property='twitter:card' content='summary_large_image' />
<meta
  property='twitter:url'
  content={`${import.meta.env.SITE}${canonicalPath}`}
/>
<meta property='twitter:title' content={title} />
<meta property='twitter:description' content={description} />
<meta
  property='twitter:image'
  content={`${import.meta.env.SITE}og/${ogCoverPath}`}
/>
<meta name='format-detection' content='telephone=no' />
<script type='application/ld+json' set:html={schema}></script>
<link rel='preconnect' href='https://fonts.gstatic.com' />
<link
  rel='stylesheet'
  href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap'
/>
<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'
/>
<script async src='https://cdn.splitbee.io/sb.js'></script>
